<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ase.echipa_4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AfisareFirebase"></activity>
        <activity android:name=".DateConverter" />
        <activity android:name=".LicitatiiDao" />
        <activity android:name=".LicitatiiDB" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".JSONActivity" />
        <activity android:name=".InstructiuniFolosireAplicatieActivity" />
        <activity android:name=".Activitate_adaugare_review" />
        <activity android:name=".ArticoleLicitate" />
        <activity android:name=".Homepage">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Activitate_adaugare_licitatie" />
        <activity android:name=".Activitate_lista_licitatii"/>
    </application>

</manifest>